@media only screen and (min-width: 990px) {
    .env_mail{
        display: flex;
        justify-content: left;
        align-items: center;
    }
}

.step {
    white-space: nowrap;
}


.fieldconst {
    height: 90vh;
    overflow: auto
}

.coche:hover {
    background-color: grey;
}


.contour {
    background-color: #ffffff;

    border-style: solid;
    border-width: 1px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;


}

.glob {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#story {
    resize: none;
}

.step {
    display: flex;

}
